{% extends "base.html" %}

{% block content %}
    
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <link rel="stylesheet" href="../static/style.css">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">


  <title>THE VAK LEARNING SYSTEM</title>

</head>

<body>
  <div class="content__header">
    <header class="flex header">
      <!--Tag click-->
      <input type="checkbox" name="check" id="check">
      <!--finish-->

      <nav class="decoration nav-btn">
        <ul class="flex2 ">
          <li class="pr-navigation">
            <a href="#" class="underline whitebg">The VAK Learning System</a> <img src="../static/images/icon-arrow-light.svg" class="arrow" />
          </li>
        </ul>
      </nav>
      <div class="hamburger-menu">

      </div>

    </header>

    <div class="textCenter">
      <h1 class="whitebg mrgbotton ffOverpass fs-700">A modern conceptual platform</h1>

<p class="whitebg mrgbotton fs-600">Choose appropiate learning style and make your future bright</p>
      <button aria-selected="false" class="btn-white mgtop"><a href="../static/index.html">Start for Free</a></button>
      <!-- <button type="button">Our Hope</a></button> -->

    </div>
  </div>
  <!--init Design the future-->
  <article>
    <h2 class="mrgbotton veryDarkBlueHeading ffUbuntu textCenter fontextra">Designed for the Students</h2>
    <div class="padding-rm grid-container grid-container--designfuture">
      <div class="editor-img"> </div>

      <div class="blueming">
        <h3 class="mrgbotton veryDarkBlueHeading fontHeading">About Our Platform:</h3>
        <p class="ffOverpass fs-400 veryDarkGrayishBluebody liner">This application is a free and open source
            platform which helps student to get idea about their preferred learning Style with help of questions
            and VAK Theory.
        </p>
        <h3 class="mrgbotton veryDarkBlueHeading fontHeading">Introducion to VAK Theory</h3>
        <p class="ffOverpass fs-400 veryDarkGrayishBluebody liner">The first evaluation is to find out if student
            learns better by hearing, seeing, or moving information as a part of processing it. Every person’s
            learning style is either or a combination of auditory, visual, or kinesthetic (tactile) in terms of
            the way he or she learns best. No particular style is better than the others; it is all about what
            works best for the individual.The learning styles are put together by a system in which is VAK.
        </p>
        <p class="ffOverpass fs-400 veryDarkGrayishBluebody liner">
            VAK stands for Visual, Auditory,
            and Kinesthetic (Tactile). The theory is one prefers to learn through one of these sense channels.
        </p>
        <h3 class="mrgbotton veryDarkBlueHeading fontHeading">Visual Learning Style</h3>
        <p class="ffOverpass fs-400 veryDarkGrayishBluebody liner">These learners need to see the teacher’s body language
             and facial expression to fully understand the content of a lesson. They tend to prefer sitting at the front of
              the classroom. They may think in pictures and learn best from visual displays including: diagrams, illustrated
              textbooks, overhead transparencies, videos, flipcharts, use of interactive whiteboards, and hand-outs. During a
              lesson or classroom discussions, visual learners often prefer to take detailed notes to absorb the information.
        </p>
        <p class="ffOverpass fs-400 veryDarkGrayishBluebody liner">
            <p class="ffOverpass fs-400 veryDarkGrayishBluebody liner">1.Highlight important points in text.</p>
            <p class="ffOverpass fs-400 veryDarkGrayishBluebody liner">2.Use books on tapes.</p>
            <p class="ffOverpass fs-400 veryDarkGrayishBluebody liner">3.Use a tape recorder to tape lectures, presentations, directions, etc.</p>
            <p class="ffOverpass fs-400 veryDarkGrayishBluebody liner">4.Learn to use text glossary, indexes, appendices, chapter summaries, etc.</p>
            <p class="ffOverpass fs-400 veryDarkGrayishBluebody liner">5.Preview texts.</p>

   </p>
       <h3 class="mrgbotton veryDarkBlueHeading fontHeading">Auditory Learning Style</h3>
        <p class="ffOverpass fs-400 veryDarkGrayishBluebody liner">They learn best through verbal lessons, discussions, talking things
            through and listening to what others have to say. Auditory learners interpret the underlying meanings of speech through
             listening to the tone of voice, pitch, and speed. Written information may have little meaning until it is heard. These
              learners often benefit from reading text aloud and using a tape recorder.
        </p>
        <p class="ffOverpass fs-400 veryDarkGrayishBluebody liner">
            	<p class="ffOverpass fs-400 veryDarkGrayishBluebody liner">1.Discuss their ideas.</p>
            	<p class="ffOverpass fs-400 veryDarkGrayishBluebody liner">2.Work in study groups.</p>
	            <p class="ffOverpass fs-400 veryDarkGrayishBluebody liner">3.Recite information that is important to remember.</p>
	            <p class="ffOverpass fs-400 veryDarkGrayishBluebody liner">4.Review printed material before auditory information is presented.</p>
	            <p class="ffOverpass fs-400 veryDarkGrayishBluebody liner">5.Repeat back instructions just heard to check clarity.</p>

       </p>
       <h3 class="mrgbotton veryDarkBlueHeading fontHeading">Kinesthetic Learning Style</h3>
       <p class="ffOverpass fs-400 veryDarkGrayishBluebody liner">Kinesthetic learners learn best through a hands-on approach, actively exploring
           the physical world around them. They may find it hard to sit still for long periods and may become distracted by their need for
           activity and exploration.
    </p>
    <p class="ffOverpass fs-400 veryDarkGrayishBluebody liner">
            <p class="ffOverpass fs-400 veryDarkGrayishBluebody liner">1.Take frequent study breaks.</p>
            <p class="ffOverpass fs-400 veryDarkGrayishBluebody liner">2.Work at a standing position.</p>
            <p class="ffOverpass fs-400 veryDarkGrayishBluebody liner">3.Listen to music while they study.</p>
            <p class="ffOverpass fs-400 veryDarkGrayishBluebody liner">4.Bring some type of “grip toy” to class to hold on to.</p>
            <p class="ffOverpass fs-400 veryDarkGrayishBluebody liner">5.Skim through reading material to get a rough idea what it
                is about before sitting down to read it in detail.</p>

   </p>
  </article>

  <div class="phones">
  </div>
  <article class="rec">
    <!--State of the art Infrastructure-->
    <div class="colorful padding-rm ">

      <!--div absolute for the phones-->
      <div class="grid-container grid--container--royal">
        <div class="royal ">

          <p class="mgtop whitebg  fs-400 liner">“No one person uses one style of learning exclusively, but they do have preferred learning styles.
              It is therefore important to attempt to cater for all learning styles during lessons to enable the most efficient learning to take place.”
          </p>
        </div>
      </div>
    </div>
    <!--End State of the art Infrastructure-->
  </article>

  
</body>
{% endblock %}
